.sidebar {
  position: relative;
  width: 18%;
  min-width: 170px;
  max-width: 200px;
  min-height: calc(100svh - 81px);
  border: 1.5px solid #a9a9a9;
  background-color: #f9f9f9;
  border-top: 0;
}
.sidebar svg {
  color: #6d6d6d;
  transition: 0.2s;
  min-width: 24px;
}
.sidebar-options {
  position: sticky;
  top: 0;
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0 0 3px;
  background-color: white;
  cursor: pointer;
}
.sidebar-option:hover, .sidebar-option.active {
  background-color: #fff0ed;
  border-color: tomato;
}
.sidebar-option:hover svg, .sidebar-option.active svg {
  color: tomato;
}
@media (max-width: 1023px) {
  .sidebar {
    min-height: calc(100svh - 61px);
  }
}
@media (max-width: 924px) {
  .sidebar {
    max-width: 67.5px;
    width: 100%;
    min-width: 0;
  }
  .sidebar-option svg {
    margin: auto;
  }
  .sidebar-option p {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  max-height: 80px;
  height: 80px;
}
.navbar .logo {
  max-height: 100%;
  height: auto;
}
.navbar button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button img {
  width: 20px;
}
.navbar button:hover {
  color: tomato;
  background-color: #fff4f2;
}
@media (max-width: 1023px) {
  .navbar {
    max-height: 60px;
  }
  .navbar button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar button {
    padding: 7px 20px;
    font-size: 16px;
  }
}

.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5647058824);
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: 100%;
  max-width: 330px;
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-container button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-container p a {
  display: inline-block;
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}
.login-popup-container .login-popup-signup, .login-popup-container .login-popup-login {
  background-color: transparent;
  color: tomato;
  border: none;
  padding: 0;
  cursor: pointer;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title button {
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.login-popup-title button img {
  width: 100%;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.login-popup-inputs-wrapper {
  position: relative;
}
.login-popup-inputs-wrapper input {
  width: 100%;
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
}
.login-popup-inputs-wrapper input.error {
  border: 1px solid red;
}
.login-popup-inputs-wrapper .error-text {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 12px;
  animation: fadeIn 0.3s;
}
.login-popup-condition {
  position: relative;
  display: flex;
  align-items: start;
  gap: 8px;
}
.login-popup-condition input {
  margin-top: 5px;
}
.login-popup-condition .error-text {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 12px;
  animation: fadeIn 0.3s;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.spinner-circle {
  width: 30px;
  height: 30px;
  border: 5px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
.spinner-loading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.spinner-message {
  color: #555555;
  text-align: center;
  width: 100%;
}

.add {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #6d6d6d;
  font-size: 16px;
}
.add form {
  gap: 20px;
  width: 100%;
  max-width: 400px;
}
.add-img-upload {
  width: -moz-fit-content;
  width: fit-content;
}
.add-img-upload button {
  border: none;
  background-color: transparent;
  height: 70px;
  width: 120px;
  cursor: pointer;
}
.add-img-upload img {
  width: 100%;
  pointer-events: none;
}
.add-product-name input, .add-product-description textarea {
  padding: 10px;
  width: 100%;
  resize: vertical;
}
.add-category-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.add-category-price select, .add-category-price input {
  width: 100%;
  padding: 10px;
}
.add-btn {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: tomato;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.foods-table {
  position: relative;
  height: calc(100% - 80px);
}

.foods-table-format {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}
.foods-table-format.title {
  background-color: #f9f9f9;
}
.foods-table-format:not(.title) > div b {
  display: none;
}
.foods-table-format .img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.foods-table-format .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foods-table-format button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.foods-table-format button svg {
  color: #6d6d6d;
  transition: all 0.3s ease;
}
.foods-table-format button:hover svg {
  color: tomato;
}
@media (max-width: 600px) {
  .foods-table-format {
    grid-template-columns: 55px 70px 70px 50px;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .foods-table-format.title {
    display: none;
  }
  .foods-table-format > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .foods-table-format > div b {
    display: block !important;
  }
  .foods-table-format .img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    grid-column: 1;
  }
  .foods-table-format .item-name {
    grid-column: 2/span 1;
  }
  .foods-table-format .item-description {
    flex-direction: row;
    grid-column: 1/span 4;
    order: 1;
    text-align: left;
    border-top: 1px solid #cacaca;
    padding-top: 8px;
  }
  .foods-table-format .item-category {
    grid-column: 3;
  }
  .foods-table-format .item-price {
    grid-column: 4;
  }
  .foods-table-format .item-actions {
    position: relative;
    flex-direction: row;
    justify-content: end;
    grid-column: 1/span 4;
    order: 2;
    border-top: 1px solid #cacaca;
  }
  .foods-table-format .item-actions b {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
@media (max-width: 430px) {
  .foods-table-format {
    border: none;
    border-bottom: 5px solid #cacaca;
    padding-left: 0;
    padding-right: 0;
  }
  .foods-table-format:nth-of-type(2) {
    border-top: 5px solid #cacaca;
  }
}

.orders {
  position: relative;
}

.order-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid tomato;
  background-color: #fff4f2;
  padding: 20px;
  font-size: 14px;
  color: #505050;
  margin: 30px 0px;
}
.order-item img {
  width: 40px;
}
.order-item hr {
  background-color: tomato;
}
.order-item select {
  border-color: #505050 !important;
}
.order-item.delivered {
  background-color: #e4ffe8;
}
.order-item.delivered, .order-item.delivered .order-item-time, .order-item.delivered hr {
  border-color: #009933;
}
.order-item.delivered hr {
  background-color: #009933;
}
.order-item.delivering {
  background-color: #fff3cd;
}
.order-item.delivering, .order-item.delivering .order-item-time, .order-item.delivering hr {
  border-color: #ffc107;
}
.order-item.delivering hr {
  background-color: #ffc107;
}
.order-item:first-of-type {
  margin-top: 10px;
}
.order-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.order-item-content {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: start;
  gap: 15px;
}
.order-item-food {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.order-item-name {
  font-weight: 600;
  margin-bottom: 5px;
}
.order-item-address {
  margin-bottom: 10px;
}
.order-item select {
  border: 1px solid tomato;
  border-color: inherit;
  width: 100%;
  max-width: 150px;
  margin-left: auto;
  padding: 10px;
  outline: none;
}
@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    padding: 15px 8px;
  }
  .order-item select {
    padding: 5px;
    font-size: 12px;
    max-width: 130px;
  }
  .order-item img {
    width: 40px;
  }
}
@media (max-width: 430px) {
  .order-item {
    border-top-width: 0;
    border-left: none;
    border-right: none;
    border-bottom-width: 5px;
    padding-left: 10px;
    padding-right: 0;
    margin-top: 0px;
    margin-bottom: 0;
  }
  .order-item:first-of-type {
    border-top-width: 5px;
  }
  .order-item-info {
    order: 2;
  }
  .order-item select {
    order: 3;
    grid-column: 2/span 2;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  background-color: #fcfcfc;
  overflow-y: scroll;
}

.page {
  width: 100%;
  margin: 50px max(5vw, 25px);
  color: #6d6d6d;
  font-size: 16px;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

input, select, textarea {
  border-radius: 5px;
  height: 40px;
  min-height: 40px;
  background-color: white;
  border: 1px solid #a9a9a9;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor {
  cursor: pointer;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .page {
    margin: 50px 16px;
  }
}/*# sourceMappingURL=index.css.map */