// Components
@import './components/loginPopup/_loginPopup.scss';
@import './components/navbar/_navbar.scss';
@import './components/header/_header.scss';
@import './components/exploreMenu/_exploreMenu.scss';
@import './components/foodDisplay/_foodDisplay.scss';
@import './components/foodItem/_foodItem.scss';
@import './components/appDownload/_appDownload.scss';
@import './components/spinner/_spinner.scss';
@import './components/footer/_footer.scss';

// Pages
@import './pages/home/_home.scss';
@import './pages/cart/_cart.scss';
@import './pages/checkout/_checkout.scss';
@import './pages/verify/_verify.scss';
@import './pages/myOrders/_myOrders.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;

  &:hover {
    color: tomato;
  }
}

.App {
  width: 80%;
  margin: auto;

  @media (max-width: 1024px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 95%;
  }
}

// .spinner { //        Interesting!!!!!
//   width: 100px;
//   height: 100px;
//   place-self: center;
//   border: 5px solid #bdbdbd;
//   border-top-color: tomato;
//   border-radius: 50%;
//   animation: rotate 1s linear infinite;
// }


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}