.food-display {
    position: relative;
    margin-top: 30px;
    min-height: 496px;

    h2 {
        font-size: max(2vw, 24px);
        font-weight: 600;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        margin: 30px 0px;
        gap: 30px;
        row-gap: 50px; // Interesting !!!
    }

    .center {
        position: absolute;
        top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}